@model _1911061027_DoTrongThuong_BigSchool.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>

<div class="panel panel-default text-center">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3><b>Khoá Học Của Giảng Viên Đã Follow</b></h3></div>

    <!-- Table -->
    <table class="table">
        <tr>
            <td><b>STT</b></td>
            <td><b>Ngày Tháng</b></td>
            <td><b>Môn Học</b></td>
            <td><b>Giảng Viên</b></td>
        </tr>

        @{int i = 0;}
        @foreach (var course in Model.UpcommingCourses)
        {
            <tr>
                <td>@{++i;} @i </td>
                <td>@course.DateTime.ToString("dd")-@course.DateTime.ToString("MM")</td>
                <td>
                    @course.Category.Name
                </td>
                <td>
                    @course.Lecturer.Name
                </td>

            </tr>
        }

    </table>
</div>

